body{
    background-color: rgb(0, 0, 99);
}
.main{
    align-items: center;
}
.screen{
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
}
.frame{
    margin-top: 100px;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    width: 23em;
}
h1{
    font-size: xx-large;
}
.row1{
    justify-content: space-around;
    display: flex;
}
.row2{
    justify-content: space-between;
    display: flex;
    align-items:end;
}
#btn0{
    padding-left: 105px;
}

input{
    padding-top: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
}
button{
    margin: 10px;
    padding: 10px 23px 10px 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    font-weight: bolder;
    font-size: 30PX;
}
#acbtn{
    padding: 0px;
}
#Input_field{
    color: white;
}
button:hover{
    background-color: rgb(245, 224, 197);
}